* {
	box-sizing: border-box;
	transition: all .7s ease;
}

body {
	margin: 0;
	font: 14px / 1.8 "Helvetica Neue", "Segoe UI", Helvetica, Arial, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
	color: #212121;
	background: #f2f2f2;
}

html {
	font-size: 16px;
}

a {
	text-decoration: none;
}

h1,h2,h3 {
	margin: 0;	
}


.container {
	width: 90%;
	max-width: 960px;
	margin: 0 auto;
	position: relative;
}

.header {
	background: #3c3c3c;
	padding-top: 4rem;
	margin-bottom: 5em;
}

.header .logo {
	display: block;
	width: 2em;
	height: 2em;
	background-color: #41a9cc;
	position: absolute;
	right: 5px;
	bottom: -30px;
	border-radius: 50%;
	font-size: 2em;
	color: #fff;
	text-align: center;
	line-height: 2em;
	box-shadow: 0 2px 2px rgba(0,0,0,0.3);

}

.header .course-title {
	display: block;
	color: white;
	font-size: 2em;
	line-height: 1;
	margin-bottom: .5em;
}

.header .intro {
	color: #fff;
	opacity: .8;
	padding-bottom: 2em;
}

.card {
	position: relative;
	background-color: #fff;
	border: 0;
	border-radius: 5px;
	padding-left: 160px;
	margin-bottom: 2.857em;
	box-shadow: 0 2px 2px rgba(0,0,0,0.2);
}

@media (max-width: 500px) {
	.card {
		padding-left: 80px;
	}
}

.card a.video {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 140px;
	height: 100%;
	background: #41a9cc url("../images/play_list_big.png") no-repeat 50% 50%;
}

.card a.video:hover {
	background-color: #00668f;
}

@media (max-width: 500px) {
	.card a.video {
		width: 60px;
	}
}

.card ul {
	padding: 0 0 1em 1.5em;
	opacity: .8;
}

.card h3 {
	font-size: 1.3em;
	font-weight: normal;
	padding-top: 40px;
	position: relative;
}

.card .card-link {
	position: absolute;
	right: 20px;
	top: 7px;
	opacity: .7;
	color: teal;
}


footer {
  height: 440px;
  background: #444;
  margin-top: 4em;
}


footer p {
	color: #fff;
	padding-top: 2em;
	text-align: center;
	opacity: .8;
}

footer a {
  color: #fff;
  padding-top: 2em;
  opacity: .8;
  text-decoration: underline;
}

footer img {
	display: block;
	width: 17.857em;
	height: 17.857em;
	border-radius: 50%;
	margin: 2em auto;
}

footer .beian {
	text-align: center;
}

footer .beian a {
	text-decoration: none;
}